//================================================================================
//
//         G E N E R A T E D   C O D E   -   D O   N O T   E D I T ! ! !
//
//================================================================================
package main

import (
	"encoding/json"
	"net/http"
	"strconv"

	"github.com/gorilla/pat"
)

func main() {
	h := Router()
	if err := http.ListenAndServe(":12345", h); err != nil {
		panic(err)
	}
}//main()

func unknown(httpRes http.ResponseWriter, httpReq *http.Request) {
	http.Error(httpRes, "unknown", http.StatusNotFound)
}

func Router() http.Handler {
	h := pat.New()
    {{range .Routes}}h.{{.Method}}("{{.Path}}", {{.Handler}})
    {{end}}
	h.Get("/", unknown)
    return h
}

{{range .Items}}
{{if .Parent}}
func get{{.Parent.Name.Pub}}{{.Type.Name.Pub}}s(httpRes http.ResponseWriter, httpReq *http.Request) {
    {{.Parent.Name.Prv}}ID := dbIDFromString(httpReq.URL.Query().Get(":{{.Parent.Name.Ext}}_id"))
	limit := intFromString(httpReq.URL.Query().Get("limit"))
	ctx := system.NewContext(httpReq.Context())
    list, err := ctx.ListOf{{.Type.Name.Pub}}({{.Parent.Name.Prv}}ID, limit)
{{else}}
func get{{.Type.Name.Pub}}s(httpRes http.ResponseWriter, httpReq *http.Request) {
	limit := intFromString(httpReq.URL.Query().Get("limit"))
	ctx := system.NewContext(httpReq.Context())
    list, err := ctx.ListOf{{.Type.Name.Pub}}(limit)
{{end}}
	if err != nil {
		http.Error(httpRes, err.Error(), http.StatusNotFound)
		return
	}
	jsonList, err := json.Marshal(list)
	if err != nil {
		http.Error(httpRes, err.Error(), http.StatusInternalServerError)
		return
	}
	httpRes.Header().Set("Content-Type", "application/json")
	httpRes.Write(jsonList)
}

func get{{.Type.Name.Pub}}(httpRes http.ResponseWriter, httpReq *http.Request) {
	ctx := system.NewContext(httpReq.Context())
	{{.Type.Name.Prv}}ID := dbIDFromString(httpReq.URL.Query().Get(":{{.Type.Name.Ext}}_id"))
	loadChildren := nameList(httpReq.URL.Query().Get("load"))
	{{.Type.Name.Prv}}, err := ctx.Get{{.Type.Name.Pub}}(
		{{.Type.Name.Prv}}ID,
		loadChildren,
	)
	if err != nil {
		http.Error(httpRes, err.Error(), http.StatusNotFound)
		return
	}
	json{{.Type.Name.Pub}}, err := json.Marshal({{.Type.Name.Prv}})
	if err != nil {
		http.Error(httpRes, err.Error(), http.StatusInternalServerError)
		return
	}
	httpRes.Header().Set("Content-Type", "application/json")
	httpRes.Write(json{{.Type.Name.Pub}})
}
{{end}}

func dbIDFromString(s string) system.ID {
	if i64, err := strconv.ParseInt(s, 10, 64); err != nil {
		return 0
	} else {
		return system.ID(i64)
	}
}

func intFromString(s string) int {
	if i64, err := strconv.ParseInt(s, 10, 64); err != nil {
		return 0
	} else {
		return int(i64)
	}
}

func nameList(s string) []string {
	if list, err := csv.NewReader(strings.NewReader(s)).Read(); err != nil {
		return []string{}
	} else {
		return list
	}
}
